appdirs
apt-xapian-index
asyncio
autopep8
beniget
black
blinker
brotli
chardet
command-not-found
cov-core
coverage
cryptography
cupshelpers
dbus-python
distro
distro-info
django-bootstrap-v5
django-debug-toolbar
easydict
execnet
flake8
flask-wtf
fs
fuse-python
gpg
gunicorn
h11
html5lib
httpcore
importlib
importlib-metadata
iniconfig
isort
jeepney
jupyter
kivy
language-selector
launchpadlib
lightgbm
livelossplot
livereload
lz4
mccabe
mkdocs
more-itertools
mpmath
mypy
mypy-extensions
mysql-connector
mysql-connector-python
mysqlclient
nala
netifaces
nltk
nose2
olefile
opencv-contrib-python
opencv-python
pathspec
pip-chill
platformdirs
plotly
pluggy
ply
py
pycups
pyflakes
pygame
pygobject
pyinotify
pyjwt
pylibacl
pypng
pyqrcode
pyqt5
pyrogram
pytesseract
pytest
pytest-cov
pytest-forked
pytest-sugar
pytest-xdist
python-apt
python-debian
pythran
pyxattr
qrcode
reportlab
rfc3986
scikeras
scikit-image
seaborn
secretstorage
shellingham
sniffio
soupsieve
sympy
systemd-python
tensorflow
tf2-yolov4
tgcrypto
tk
tkcalendar
typed-ast
ubuntu-advantage-tools
ubuntu-drivers-common
ufolib2
ufw
unattended-upgrades
unicodedata2
usb-creator
wadllib
whitenoise
xgboost
xkit
yolov4
zipp
